<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
id="WebApp_ID" version="3.1">

 <!-- Nome da aplicação -->
 <display-name>ProjetoPGO</display-name>
 
 <!-- Local do Faces-Config -->
 <context-param>
  <param-name>javax.faces.CONFIG_FILES</param-name>
  <param-value>/WEB-INF/faces-config.xml</param-value>
 </context-param> 
 
 <!-- Estagio do projeto -->
 <context-param>
  <param-name>javax.faces.PROJECT_STAGE</param-name>
  <param-value>Development</param-value>
 </context-param>
 <!-- Tema do PrimeFaces -->
 <context-param>
  <param-name>primefaces.THEME</param-name>
  <param-value>redmond</param-value>
 </context-param>
 <!-- Serve para registrar ouvintes no Tomcat "Carregar Hibernate" -->
 <listener>
  <listener-class>br.com.pgo.util.HibernateContexto</listener-class>
 </listener>
 <!-- Configuração do JSF -->
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.xhtml</url-pattern>
 </servlet-mapping>
 <!-- Página principal -->
 <welcome-file-list>
  <welcome-file>pages/autenticacao.xhtml</welcome-file>
 </welcome-file-list>
</web-app>
